<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
        }
        
        caption {
            font-size: 20px;
            font-weight: bold;
        }
        
        thead {
            font-weight: bold;
        }
        
        th,
        td {
            border: 1px #000 solid;
            font-size: 20px;
            padding: 10px;
            text-align: center;
        }
        
        td a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <a href="/logout">登出</a>
    <table>
        <% if(obj && obj.length > 0) { %>
            <caption>学生信息列表</caption>
            <thead>
                <tr>
                    <td>学号</td>
                    <td>姓名</td>
                    <td>年龄</td>
                    <td>性别</td>
                    <td>地址</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <% for(const ob of obj) { %>
                    <tr>
                        <td>
                            <%=ob.id  %>
                        </td>
                        <td>
                            <%=ob.name  %>
                        </td>
                        <td>
                            <%=ob.age  %>
                        </td>
                        <td>
                            <%=ob.gender  %>
                        </td>
                        <td>
                            <%=ob.address  %>
                        </td>
                        <td>
                            <a onclick="return confirm('确认删除吗？')" href="/students/delete?id=<%=ob.id%>">删除</a>
                            <a href="/students/to_update?id=<%=ob.id%>">修改</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
            <% } %>
    </table>
    <hr>
    <form action="/students/add_student" method="post">
        <div><input type="text" name="csrf" value="<%=csrfToken %>"></div>
        <div>姓名<input type="text" name="name"></div>
        <div>年龄<input type="number" name="age"></div>
        <div>性别 <input type="radio" name="gender" value="男">男
            <input type="radio" name="gender" value="女">女
        </div>
        <div>地址<input type="text" name="address"></div>
        <div><button>提交</button></div>
    </form>
</body>

</html>